<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="{{ url .ReqPath "static/pbsworks/favicon.ico" }}">
	<link rel="icon" href="{{ url .ReqPath "static/pbsworks/favicon.ico" }}" type="image/x-icon">
  <link href="{{ url .ReqPath "static/pbsworks/pbsaccess.css" }}" rel="stylesheet">
	<title>Error-Altair Access</title>
<style>

</style>
<body>
<div id="root" style="width: 100%; height: 100%; overflow: hidden; font-size: 14px;" class="white-theme">
  <div class="error-div">
    <div id="error-div">
      <div id="logo"></div>
      <div class="error-message">
        <div class="message-title">
          {{ .ErrType }}
        </div>
        <div class="message-error">
          {{ .ErrMsg }}
        </div>
				<div class="loginAgainLink"><a href="/pbsworks">Login again</a></div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
