<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="{{ url .ReqPath "static/pbsworks/favicon.ico" }}">
	<link rel="icon" href="{{ url .ReqPath "static/pbsworks/favicon.ico" }}" type="image/x-icon">
  <link href="{{ url .ReqPath "static/pbsworks/pbsaccess.css" }}" rel="stylesheet">
	<script src="{{ url .ReqPath "static/js/scripts.js" }}"></script>
	<title>Login-Altair Access</title>
<style>

</style>
<body>
<div id="root" style="width: 100%; height: 100%; overflow: hidden; font-size: 14px;" class="white-theme">
  <div class="login-div">
    <div id="logindiv">
      <div id="app-logo" className='app-logo' style="visibility: hidden">
        <img id="app-logo-img" src="" />
      </div>
      <div id="logo">&nbsp;</div>
      <form method="post" action="{{ .PostURL }}">
        <input data-i18n-key="placeholder" type="text" tabindex="1" required id="username" name="login" class="username theme-receiver" placeholder="Username" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}>
        <input data-i18n-key="placeholder" type="password" tabindex="2" required id="password" name="password" class="password theme-receiver" placeholder="Password" {{ if .Invalid }} autofocus {{ end }}>
        <div id="loginErrorMessage">
          {{ if .Invalid }}
            Invalid {{ .UsernamePrompt }} and password.
          {{ end }}
        </div>
        <input data-i18n-key="value" tabindex="3" id="loginbtn" type="submit" class="login-button theme-receiver primary" value="Log In">
				<p id="app-descirption" className='app-descirption' style="visibility: hidden"></p>
      </form>
    </div>
  </div>
</div>
</body>
</html>
